@media screen and (min-width: 1024px) {

    body {
        font-size: 24px;
    }

    /* header */
    .languageSelection p {
        font-size: 16px;
    }

    .hamburgerMenu {
        display: none;
    }


    nav:hover{
        background-color: white;
        color:black;
    }

    nav:hover svg:not(.languageArrow){
        fill: black;
    }
    nav:hover .languageArrow{
        stroke: black;
    }
    .languageSelection:hover svg{
        stroke: var(--color-green-light);
    }

    /* hero section */

    .heroLogo {
        align-self: flex-start;
        margin-top: 236px;
        margin-left: 48px;
        height: 221.85px;
        width: 480px;
    }

    .scrollArrow {
        height: 42px;
        width: 48.5px;
    }


    /* element cards section */
    .elementCard{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 56px;
        align-items: center;
    }
    .elementText p {
        width: 80%;
        font-size: 16px;
    }
    .elementCard h3{
        display: none;
    }
    .elementCard h4
    {
        width: 100%;
    }
    .elementCard img{
        width: 128px;
        height: 111px;
    }
    .elementText{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* showcase section */
    .showcaseArticle {
        flex-direction: row;
        align-items: center;
    }
    .showcaseText {
        align-self: flex-end;
        order: -1;
        text-align:start;
        width: 436px;
        gap: 40px;
    }

    /* material section */
    
    .materialsContainer {
        flex-direction: row;
    }

    /* quote section */

    .quoteArticle {
        font-size: 24px;
        width: 527.88px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .quotePersonInfo img {
        height: 126.69px;
        width: 126.69px;
    }

    .quoteSection p i{
        line-height: 36px;
    }
    
    /* collection section */
    .collectionSection {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .collectionCards {
        flex-direction: row;
        gap:40px;
        width: 772px;
    }

    .collectionHeader {
        font-size: 64px;
    }

    .collectionText{
        gap: 40px;
    }

    /* join us section */
    .joinUsSection {
        height: 468px;
        justify-content: space-between;
    }
    .joinUsSection img{
        display: block;
        opacity: 30%;
        mix-blend-mode: soft-light;
    }
    .joinUsArticle {
        width: 527px;
        align-items: flex-start;
    }

    .joinUsText {
        max-width: 527px;
        align-items: flex-start;
    }

    .joinUsText :nth-child(1) {
        font-size: 36px;
    }

    .joinUsText :nth-child(2) {
        text-align: start;
        line-height: 36px;
    }

    /* quote section */
    .quotePersonInfo {
        align-self:flex-start;
    }
    .cardNavigation{
        display: none;
    }
    .arrowContainer{
        display: none;
    }
    .elementScroll{
        margin-left: 0px;
    }

    /* footer */
    footer{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 28px;
    }
    .footerHeader{
        padding-bottom: 0;
        padding-top: 60px;
    }
    .footerHeader p{
        font-size: 40px;
    }
    
    .mainFooter{
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 74px;
        padding-top: 40px;
    }
    .footerButtons{
        height: 120px;
    }
    .images{
        padding: 0;
    }
    .images section{
        width: 300px;
        padding-left: 40px;
        height: auto;
        border: none;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    footer p{
        font-size: 16px;
    }
    .leftSide{
        border-right: 1px solid white;
        padding-right: 40px;
    }
    .rightSide{
        padding-right: 40px;
    }

    .footerInformation{
        margin-bottom: 0px;
    }
    .copyright p{
        font-size: 16px;
    }
    .footerLogo
    {
        display:inline-block;
    }

    .languageMenu{
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .languageMenuButtons{
        padding-left: 60px;
        padding-right: 60px;
    }
    .navbarMenu{
        display: block;
        font-size: 20px;
    }

    .logo{
        width: 48px;
        height: 42px;
    }
}


@media screen and (min-width: 570px) {
    .heroImg{
        content: url("../images/hero/heroDesktop.png");
    }
}