/* header */

header {
    height: 109px;
    width: 100%;
    position: absolute;
}

a:hover{
    color: var(--color-green-light);
    cursor: pointer;
}


.signUpBox {
    width: 100%;
    height: 44px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-green);
}
.signUpBox p:hover{
    color: var(--color-green-light);
    cursor: pointer;
}

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navbarMenu a:hover{
    color: var(--color-green-light);
    cursor: pointer;
}
nav .navIcons svg:not(.languageArrow):hover{
    fill: var(--color-green-light);
    cursor: pointer;
}
.languageArrow:hover{
    stroke: var(--color-green-light);
}
nav svg:not(.languageArrow){
    fill: white;
}
.languageArrow{
    stroke: white;
}

.languageSelection:hover{
    color: var(--color-green-light);
}
.languageSelection:hover svg{
    stroke: var(--color-green-light);
}





.navbarLeftSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarLeftSide a{
    padding-right: 48px;
}

.navbarMenu{
    display: none;
}

.logo {
    height: 34px;
    width: 30px;
    margin-right: 32px;
}

.navIcons {
    display: flex;
    gap: 16px;
}

.languageSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.magnifyingGlass {
    width: 16.37px;
    height: 16.39px;
}

.bag {
    width: 16.37px;
    height: 16.39px;
}

.hamburgerMenu {
    width: 20.37px;
    height: 16.13px;
}

/* hero */

.heroSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heroLogo{
    margin-top: 240.8px;
}

.heroImg {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.scrollArrow {
    height: 32px;
    width: 36.95px;
    position: absolute;
    bottom: 48px;
    fill: white;
}

.scrollArrow:hover{
    fill: var(--color-green-light);
}

.arrow{
    cursor: pointer;
    z-index: 5;
}

.invisible {
    opacity: 0;
}

/* element cards */

.cardNavigation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 48px;
}

.navigationLine{
    height: 2px; 
    width: 48px;
    background-color: #D9D9D9;
}

.navLineSelected{
    background-color: #131313;
}

.arrowContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    top: 125vh;
}

.elementText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementText h4 {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}
.elementText p{
    width: 80%;
    text-align: center;
}

.elementCardsSection{
    height: 465px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.elementSwipeCheck{
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    z-index: 3;
}

.scrollContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 2s;
    overflow-x: hidden;
}

.elementScroll{
    display: flex;
    justify-content: center;
    transition: 2s;
}

.elementCard{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 56px;
    align-items: center;
}

.heroJumpSection{
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100vh;
}

/* showcase section */

.showcaseSection {
    width: 100%;
    display: flex;
    justify-content: center;

}

.showcaseSection video{
    width: 100vw;
    height: auto;
}

/* material section */

.materialSection {
    height: auto;
    width: 100%;
    padding: 60px 20px 60px 20px;
    gap: 40px;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.materialSection{
    padding-top: 60px;
    text-align: center;
}

.materialSection :nth-child(2){
    font-size: 36px;
}

.materialSection :nth-child(4){
    padding-top: 40px;
    font-size: 24px;
}

.materialsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.materialsContainer img {
    height: 180px;
    width: 224.82px;
}
/* collection section */

.collectionSection {
    height: auto;
    width: 100%;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.collectionCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.collectionCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 350px;
}

.collectionCardMediaContainer {
    position: relative;
}

.collectionText {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.jacket :hover{
    content: url("images/collection/jacket-yellow.gif");
}

.itemDescription {
    font-size: 16px;
}

.collectionCard:hover{
    cursor: pointer;
}
.collectionCard:hover .itemDescription{
    color: var(--color-green-light);
}
.itemPrice {
    font-size: 16px;
}

.collectionSection p {
    text-align: center;
}

.collectionHeader {
    font-family: "AvenirBold";
    font-size: 32px;
    letter-spacing: 3.2px;
}

.collectionCardText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.collectionSection button {
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px; 
}

.collectionMedia {
    width: 100%;
    height: 100%;
}

.viewColorOrange {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--color-orange);
    bottom: 16px;
    right: 52px;
}

.viewColorGreen {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--color-green);
    bottom: 16px;
    right: 16px;
}

.selectedButton {
    border: solid 2px var(--color-coal);
}

/* quote section */

.quoteSection {
    color: var(--color-coal);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quoteSection p i{
    line-height: 24px;
}

.quoteArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.startQuote{
    align-self: flex-start;
}
.endQuote{
    align-self: flex-end;
}

.quotePersonInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    letter-spacing: 1.6px;
}

.quotePersonInfo img {
    height: 84px;
    width: 84px;
}

.quotePersonInfoText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.quotePersonInfoText :nth-child(1) {
    font-family: "AvenirMedium";
}

/* join us section */

.joinUsSection {
    width: 100%;
    height: 340px;
    background-color: var(--color-green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.joinUsSection img{
    display: none;
}

.joinUsArticle {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.joinUsText {
    max-width: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.joinUsHeadline {
    font-size: 24px;
}
.joinUsText :nth-child(1){
    font-family: "AvenirMedium";
}
.joinUsText :nth-child(2) {
    text-align: center;
    line-height: 24px;
}

.joinUsButton {
    width: 100%;
    background-color: var(--color-dark-green);
    color: var(--color-snow);
    height: 56px;
    border: 2px solid var(--color-snow);
    font-size: 20px;
    font-family: "AvenirBold";
    letter-spacing: 2px;
}

.joinUsButton:hover {
    color: var(--color-green-light);
    background-color: var(--color-extra-dark-green);
}

/* footer */

footer {
    width: 100%;
    background-color: var(--color-coal);
}