@media screen and (min-width: 1024px) {

    body {
        font-size: 24px;
    }

    /* showcase section */
    .showcaseSection {
        height: 668px;
        padding: 60px 48px 48px 60px;
    }
    .showcaseArticle {
        flex-direction: row;
        align-items: center;
    }
    .showcaseText {
        align-self: flex-end;
        order: -1;
        text-align:start;
        width: 436px;
        gap: 40px;
    }
    .showcaseHeader {
        font-size: 36px;
    }
    .showcaseArticle img {
        height: 548px;
        width: 500px;
    }

    /* quote section */
    .quoteSection {
        height: 624px;
    }

    .quoteArticle {
        font-size: 24px;
        width: 527.88px;
    }
    
    /* collection section */
    .collectionSection {
        height: 842px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .collectionCards {
        flex-direction: row;
        gap: 40px;
    }

    .collectionHeader {
        font-size: 64px;
    }

    /* join us section */
    .joinUsSection {
        height: 468px;
    }

    .joinUsArticle {
        width: 527px;
        align-items: flex-start;
    }

    .joinUsHeadline {
        font-family: "AvenirBold";
    }

    .joinUsText {
        align-items: flex-start;
    }

    .joinUsText :nth-child(1) {
        font-size: 36px;
    }

    .joinUsText :nth-child(2) {
        text-align: start;
    }

}