@media screen and (min-width: 1024px) {

    body {
        font-size: 24px;
    }

    /* showcase section */

    .heroImg{
        content: url("images/hero/desktopHero.png");
    }
    .showcaseSection img{
        content: url("images/walking-desktop.gif");
    }
    .languageSelection p {
        font-size: 16px;
    }
    .showcaseArticle {
        flex-direction: row;
        align-items: center;
    }
    .showcaseText {
        align-self: flex-end;
        order: -1;
        text-align:start;
        width: 436px;
        gap: 40px;
    }

    /* material section */
    .materialSection {
        height: 596px;
    }
    
    .materialsContainer {
        flex-direction: row;
    }

    /* quote section */
    .quoteSection {
        height: 624px;
    }

    .quoteArticle {
        font-size: 24px;
        width: 527.88px;
    }

    .quotePersonInfo img {
        height: 126.69px;
        width: 126.69px;
    }
    
    /* collection section */
    .collectionSection {
        height: 842px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .collectionCards {
        flex-direction: row;
        gap: 40px;
    }

    .collectionHeader {
        font-size: 64px;
    }

    /* join us section */
    .joinUsSection {
        height: 468px;
        justify-content: space-between;
    }
    .joinUsSection img{
        display: block;
        opacity: 30%;
    }
    .joinUsArticle {
        width: 527px;
        align-items: flex-start;
    }

    .joinUsHeadline {
        font-family: "AvenirBold";
    }

    .joinUsText {
        align-items: flex-start;
    }

    .joinUsText :nth-child(1) {
        font-size: 36px;
    }

    .joinUsText :nth-child(2) {
        text-align: start;
    }
    .elementCard{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 56px;
        align-items: center;
    }
    .elementText p {
        width: 80%;
        font-size: 16px;
    }
    .elementCard h3{
        display: none;
    }
    .elementCard h4
    {
        width: 100%;
    }
    .elementCard img{
        width: 128px;
        height: 111px;
    }
    .elementText{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* quote section */
    .quotePersonInfo {
        align-self:flex-start;
    }
}