/* header */

header {
    height: 109px;
    width: 100%;
    position: absolute;
}

.signUpBox {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-green);
    margin-bottom: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    height: 30px;
    width: 34px;
}

.navIcons {
    display: flex;
    gap: 16px;
}

.languageSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.magnifyingGlass {
    width: 16.37px;
    height: 16.39px;
}

.bag {
    width: 16.37px;
    height: 16.39px;
}

.hamburgerMenu {
    width: 20.37px;
    height: 16.13px;
}

/* hero */

.heroSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroImg {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.heroText {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 17px;
    padding-left: 20px;
    padding-right: 20px;
    top: 260px;
}

.heroText :nth-child(1){
    align-self: flex-start;
}

.heroText :nth-child(2){
    align-self: flex-end;
}

.heroText :nth-child(3){
    align-self: flex-end;
    margin-top: 110px;
}

.scrollArrow {
    height: 12px;
    width: 32px;
    position: absolute;
    bottom: 48px;
}

.arrow{
    cursor: pointer;
}

.invisible {
    opacity: 0;
}

/* element cards */

.cardNavigation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 48px;
}

.navigationLine{
    height: 2px; 
    width: 48px;
    background-color: #D9D9D9;
}

.navLineSelected{
    background-color: #131313;
}


.arrowContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    top: 125vh;
}

.elementText {
    width: 60%;
    text-align: center;
}

.elementText h4 {
    margin-bottom: 12px;
}

.elementCardsSection{
    height: 441px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.scrollContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 2s;
    overflow-x: hidden;
}

.elementScroll{
    display: flex;
    justify-content: center;
    transition: 2s;
}

.elementCard{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 56px;
    align-items: center;
}

.heroJumpSection{
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100vh;
}

/* quote section */

.quoteSection {
    color: var(--color-coal);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 388px;
}

.quoteArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    gap: 16px;
}

.quoteArticle :nth-child(2) {
    align-self: flex-start;
}

.quoteArticle :nth-child(4) {
    align-self: flex-end;
}

.quotePersonInfo {
    display: flex;
    justify-content: center;
    gap: 16px;
    letter-spacing: 1.6px;
}

.quotePersonInfo img {
    height: 84px;
    width: 84px;
}

.quotePersonInfoText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.quotePersonInfoText :nth-child(1) {
    font-family: "AvenirMedium";
}

/* join us section */

.joinUsSection {
    width: 100%;
    height: 340px;
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinUsArticle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 260px;
    width: 348px;
}

.joinUsText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.joinUsText :nth-child(1) {
    font-size: 24px;
}

.joinUsText :nth-child(2) {
    text-align: center;
}

.joinUsButton {
    width: 100%;
    background-color: var(--color-dark-green);
    color: var(--color-snow);
    height: 56px;
    border: 2px solid var(--color-snow);
    font-size: 20px;
    font-family: "AvenirBold";
    letter-spacing: 2px;
}

/* footer */

footer {
    height: 877px;
    width: 100%;
    background-color: var(--color-coal);
}