*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
}

header{
    height: 64px;
    background-color: #0000ff;
}

header nav{
    width: 100vw;
    height: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.headerLogotype{
    font-weight: bold;
}

.headerIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}